
POSTGRES_DB=your_db_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
DB_HOST=db
DB_PORT=5432

DJANGO_SECRET_KEY=your_django_secret_key
DEBUG=True


STRIPE_API_KEY=your_stripe_api_key


CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
SECRET_KEY=
ALLOWED_HOSTS=
